@font-face {
    font-family: 'Wix Madefor Display';
    src: url('~/assets/fonts/WixMadeforDisplay.woff2') format('woff2'),
        url('~/assets/fonts/WixMadeforDisplay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}